
<!-- 

About me section

Layout (subject to change)
  *----------------------*
    - About me header
    - About me sub-header
    - skills (maybe put it at the top so that people can see it right away)
    - description about me (proffesional)
    - education
    - link to resume
    - description about me (personally)
    - pictures of me and MIA!!

-->


<div class="container">

    <div class="aboutMe-wrapper">
        <div class="aboutMe-picture">
            <!-- <img class="aboutMe-image" src="/assets/images.png" alt="Ethan Bast Picture"/> -->
            <div class="aboutMe-image">image goes here</div>
        </div>

        <div class="aboutMe-section">
            <div>
                <h1 class="aboutMe-header">Ethan Bast</h1>
            </div>

            <div>
                <p class="aboutMe-sub-header">Software Devleoper</p>
            </div>

            <div >
                <p class="aboutMe-description">Full-stack developer with experience in building user-focused iOS and web applications.
                    Completed the Apple Developer Academy, gaining expertise in iterative, empathy-driven design, and graduated from the Full Stack C# .NET and Java bootcamp at Grand Circus, strengthening backend and full-stack development skills.
                    Skilled in C#, Java, Angular, TypeScript, HTML, CSS, and API integration.</p>
            </div>

            <div class="aboutMe-skills">
                <img class="skills-image" src="/assets/icons/Programming logos and icons by hrhasnai (2).svg" alt="skills image"/>
                <img class="skills-image" src="/assets/icons/Programming logos and icons by hrhasnai (5).svg" alt="skills image"/>
                <img class="skills-image" src="/assets/icons/Programming logos and icons by hrhasnai (9).svg" alt="skills image"/>
                <img class="skills-image" src="/assets/icons/Programming logos and icons by hrhasnai (11).svg" alt="skills image"/>
                <img class="skills-image" src="/assets/icons/Programming logos and icons by hrhasnai (15).svg" alt="skills image"/>
                <img class="skills-image" src="/assets/icons/Programming logos and icons by hrhasnai (17).svg" alt="skills image"/>
                <img class="skills-image" src="/assets/icons/Programming logos and icons by hrhasnai (33).svg" alt="skills image"/>
            </div>

            <div class="contact-wrapper">
                <button class="contact-button">Contact Me</button>
            </div>
        </div>
        
    </div>

</div>