/* Footer section */

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: #101010;
}

.contact-wrapper {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left: 65%;
}

.contact-text {
    color: #8D99AE;
}

.social-icons-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-right: 65%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.social-icons-text {
    grid-area: 1/1/2/4;
    color: #8D99AE
}

.social-icons-image {
    height: 40px;
    width:  40px;
    background: transparent;
    border-radius: 50%;
    transition: 0.75s ease-in-out;
}

.insta {
    grid-area: 2/1/3/2;
}

.linkedin {
    grid-area: 2/2/3/3;
}

.dribbble {
    grid-area: 2/3/3/4;
}

.social-icons-image:hover {
    box-shadow: 0px 8px 40px #f20057, 0px 8px 40px #f5430a ;
}
