<footer class="footer-container">
    <div class="contact-wrapper">
        <h3 class="contact-text">You can contact me here:</h3>
        <p class="contact-text">ethanbast13@gmail.com</p>
        <p class="contact-text">+1 734-363-4930</p>
    </div>

    <div class="social-icons-wrapper">
        <h3 class="social-icons-text">You can follow me on:</h3>
        <a class="instagram" href="https://www.instagram.com/ethanbast_/" target="_blank">
            <img class="social-icons-image" src="assets/icons/insta.svg" alt="Instagram">
        </a>  

        <a class="linkedin" href="https://www.linkedin.com/in/ethanbast/" target="_blank">
            <img class="social-icons-image" src="assets/icons/linkedin.svg" alt="LinkedIn">
        </a> 

        <a class="dribbble" href="https://dribbble.com/ebast13" target="_blank">
            <img class="social-icons-image" src="assets/icons/dribbble.svg" alt="Instagram">
        </a>
    </div>
</footer>  