.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 10vh;
    color: white;
}
.container-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pfp-image {
    width: 400px;
    height: 400px;
}

/*  HERO SECTION STYLING */

.hero .text {
    color: white;
    font-size: 75px;
    text-align: center;
    margin: 0;
    margin-top: 24px;
}

.hero .text2 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 25px;
}

.hero .text3 {
    color: #8D99AE;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

.hero .hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.hero .hero-buttons .connect {
    font-family: 'Rubik', sans-serif;
    color: white;
    background-image: linear-gradient(to bottom right, #f20057, #f5430a);
    border: 1px solid transparent;
    border-radius: 11px;
    font-size: 17px;
    font-weight: 650;

    transition: 1s ease;

    margin-left: 10px;
    margin-right: 10px; 
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 48px;
    padding-left: 48px;
}

.hero .hero-buttons .connect:hover {
    box-shadow: 0px 8px 20px #f5430a, 0px 8px 60px #f20057;
}

.hero .hero-buttons .connect:hover:active {
    scale: 0.95;
}

.hero .hero-buttons .explore-work {
    font-family: 'Rubik', sans-serif;
    color: #8D99AE;
    font-size: 17px;
    border-radius: 11px;
    border: 1px solid #8D99AE;
    background-color: transparent;

    transition: 1s ease;

    margin-left: 10px;
    margin-right: 10px; 
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 48px;
    padding-left: 48px;
}

.hero .hero-buttons .explore-work:hover {
    color: white;
    border: 1px solid white;
}

.hero .hero-buttons .explore-work:hover:active {
    scale: 0.95;
}

#name {
    font-size: 75px;
    background-image: linear-gradient(to bottom right, #f20057, #f5430a);
    color: transparent;
    background-clip: text;
}

/* PROJECT STYLING SECTION */

.project-container {
    border: 5px solid #161616;
    background-color: #191919;
    border-radius: 50px;

    width: 65%;
    height: auto;
    margin-bottom: 75px;

    transition: 2.5s ease-in-out;
}

.project-container:hover {
    box-shadow: 0px 0px 50px #f5430a, 0px 20px 50px #f20057;
}

.project-header-wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.project-header {
    font-size: 50px;
}

.project-sub-header {
    color: #8D99AE;
    font-size: 25px;
    margin: 5px;
}

.project-wrapper {
    display: grid;
    margin: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.75fr 2.5fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 0; 
    justify-items: center;
}

.project-title {
    grid-area: 1/1/2/2;
    justify-self: start;
}
.project-timeline {
    grid-area: 2/1/3/2;
    justify-self: start;

    font-weight: 200;
}
.project-description {
    grid-area: 3/1/4/2;
    justify-self: start;

    color: #8D99AE;
    font-size: 17px;
    font-weight: 100;
}

.project-button {
    grid-area: 4/1/5/2;
    justify-self: start;

    width: 250px;
    height: 60px;

    font-family: 'Rubik', sans-serif;
    color: #8D99AE;
    font-size: 17px;
    border-radius: 11px;
    border: 1px solid #8D99AE;
    background-color: transparent;

    transition: 1s ease;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 48px;
    padding-left: 48px;
}
.project-button:hover {
    color: white;
    border-color: white;
}
.project-button:hover:active {
    scale: 0.95;
}

.project-image {
    grid-area: 1/2/5/3;
    justify-self: center;
    align-items: center;

    border-radius: 50px;

    margin: auto;
    width: 600px;
    height: auto;
}   

.divider {
    border: none;
    height: 1.5px;
    /* background-color: #8D99AE; */
    background: linear-gradient(to bottom right, transparent, #f20057, #f5430a, transparent);
    opacity: 10%;
    margin: 5rem 0;
}

/* Blog section */

.blog-header-wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.blog-header {
    font-size: 50px;
}

.blog-sub-header {
    color: #8D99AE;
    font-size: 25px;
    margin: 5px;
}

/* About me section*/

.aboutme-header-wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.aboutme-header {
    font-size: 50px;
}

.aboutme-sub-header {
    color: #8D99AE;
    font-size: 25px;
    margin: 5px;
}
