<div class="container">

    <div class="container-items">
        <img src="/assets/cropped_circle_image-2.png" alt="pfp image" id="pfp-image">
    </div>

    <div class="container-items">
        <div class="hero">
            <h1 class="text">Hey, I'm <span id="name">Ethan</span></h1>
            <h2 class="text2">a Software Developer</h2>
            <p class="text3">Follow me on my journey to become a better programmer and designer</p>
            <span class="hero-buttons">
                <button class="connect">Let's Connect</button>
                <button class="explore-work">Explore my work</button>
            </span>
        </div>
    </div>

    <div class="social-icons">
        <img src="assets/icons/insta.svg">
    </div>

    <hr class="divider">

    <div class="project-header-wrapper">
        <h1 class="project-header">What i've been working on</h1>
        <p class="project-sub-header">Here are a couple current and archived projects that'll hopefully</p>
        <p class="project-sub-header">give you a glimpse of my growth</p>
    </div>

    <div class="container-items">
        <div class="project-container">
            <div class="project-wrapper">
                <h1 class="project-title">Project title</h1>
                <h3 class="project-timeline">2025 - current</h3>
                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <button class="project-button">Click here to view</button>
                <img class="project-image" src="/assets/Design-Summit-web-template.png" alt="project image" />
            </div>
        </div>
    </div>

    <div class="container-items">
        <div class="project-container">
            <div class="project-wrapper">
                <h1 class="project-title">Project title</h1>
                <h3 class="project-timeline">2025 - current</h3>
                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <button class="project-button">Click here to view</button>
                <img class="project-image" src="/assets/Design-Summit-web-template.png" alt="project image" />
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="blog-header-wrapper">
        <h1 class="blog-header">Blog</h1>
        <h2 class="blog-sub-header">Here are some things I've been exploring</h2>
        <h2 class="blog-sub-header">and learning along the way</h2>
    </div>

    <hr class="divider">

    <div class="aboutme-header-wrapper">
        <h1 class="aboutme-header">About Me</h1>
        <p class="aboutme-sub-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

</div>