<div class="container">

    <div class="container-items">
        <div class="hero">
            <h1 class="text2">Projects</h1>
            <p class="text3">Here are a my current projects as well as some of my archived projects</p>
        </div>
    </div>

    <!-- Spot for filters -->

    <div class="filters-items">
        <div class="filters-wrapper">
            <button>Current</button>
            <button>Archived</button>
            <button>Filters</button>
        </div>
    </div>

    <div class="container-items">
        <div class="project-section-wrapper">
            <div>Project 1</div>
            <div>Project 2</div>
            <div>Project 3</div>
            <div>Project 4</div>
            <div>Project 5</div>
            <div>Project 6</div>
        </div>
    </div>

</div>