.container {
    padding-top: 10vh;
    color: white;
}
.container-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Filters section*/

.filters-items {
    display: flex;
    justify-content: start;
    align-items: start;

    margin-left: 7.5%;
}

.filters-wrapper {
    margin-top: 50px;
}

.filters-wrapper > button {
    font-family: 'Rubik', sans-serif;
    color: #8D99AE;
    font-size: 17px;
    border-radius: 11px;
    border: 1px solid #8D99AE;
    background-color: transparent;

    transition: 1s ease-in-out;

    margin-left: 10px;
    margin-right: 10px; 
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 48px;
    padding-left: 48px;
}

.filters-wrapper > button:hover {
    color: white;
    border-color: white;
}

/* Project section */

.text2 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 25px;
}

.text3 {
    color: #8D99AE;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

.project-section-wrapper {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;

    margin-top: 50px;
}

.project-section-wrapper > div {
    height: 500px;
    width: 500px;

    border-radius: 25px;
    background-color: #191919;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s ease-in-out;
}

.project-section-wrapper > div:hover {
    box-shadow: 0px 0px 20px #f5430a, 0px 0px 20px #f20057;
}