<!--
    Navbar component for site navigation

    Links 
    - Home
    - Blog
    - Projects
    - Experience

    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
    <footer></footer>

    - Footer
    - Contact Me
    - Social Media Links (GitHub, LinkedIn, Twitter, etc.)
    - Categories/Tags

-->

<div class="nav-bar">
    <div class="wrapper">
        <div class="logo"> <a href="#">logo</a></div>
        <ul class="nav-links">
            <li><a href="/homePage">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/aboutMe">About Me</a></li>
        </ul>
    </div>
</div>

